<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de contatos</h1>
    <a href="{% url 'create_contact' %}">Adicionar Novo Contato</a>
    <ul>
        {% for contact in contacts %}
            <li>
                <a href="{% url 'contact_detail' contact.pk %}">{{ contact.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>