<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de formações</h1>
    <a href="{% url 'create_education' %}">Adicionar nova formação</a>
    <ul>
        {% for contact in contacts %}
            <li>
                <a href="{% url 'education_detail' education.pk %}">{{ education.curso }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>