<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detalhes da experiência profissional</h1>
    <p>Cargo: {{ work_experience.job_title }}</p>
    <p>Empresa: {{ work_experience.company }}</p>
    <p>Entrada: {{ work_experience.entrada }}</p>
    <p>Saída: {{ work_experience.saida }}</p>
    <a href="{% url 'update_work_experience' work_experience.pk %}">Editar</a>
    <a href="{% url 'delete_work_experience' work_experience.pk %}">Deletar</a>
    <a href="{% url 'work_experience_list' %}">Voltar para a lista</a>
</body>
</html>